.main-banner {
    background: linear-gradient(278deg, rgba(4, 37, 112, 1) 0%, rgba(24, 71, 179, 1) 56%, rgba(30, 150, 226, 1) 100%);
    padding: 3rem 1rem 0;
}

@media screen and (min-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1200px;
        margin: auto;
    }
}

.title-navidenio {
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 1.6rem;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
}

.description {
    font-size: 0.6rem;
    margin-bottom: 0rem;
    color: #fff;
}

.line-1 {
    font-size: 25px;
}

.line-2 {
    color: #fabd04;
}


/* INICI9O CONTADOR */

.countdown {
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .countdown {
        justify-content: flex-start;
    }
}

.countdown-item {
    padding: 0 .75rem;
    align-items: center;
    color: #ffffff;
    position: relative;
}

.countdown-item:not(:last-of-type):before {
    position: absolute;
    content: "";
    right: 0;
    display: block;
    width: 1px;
    height: 60%;
    background: #ffffff;
    opacity: .5;
}

.countdown-number {
    font-size: 1.75em;
    font-weight: bold;
    margin-right: .25rem;
    color: #ffffff;
}

.countdown-letter {
    color: #ffffff;
    opacity: .5;
}


/* FIN CONTADOR */


/* INICI9O CONTADOR HEADER */

.countdown2 {
    justify-content: center;
    align-items: center;
    font-size: 0, 4rem;
    margin-bottom: 0rem;
    color: #fff;
}


/* FIN CONTADOR HEADER*/


/*FORMULARIO*/

@media screen and (min-width: 1024px) {
    .title {
        font-size: 1.6rem;
    }
    .description {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .countdown {
        justify-content: flex-start;
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .countdown {
        justify-content: flex-start;
        font-size: 1rem;
    }
}


/* INICI9O CONTADOR HEADER */

.countdown2 {
    justify-content: center;
    align-items: center;
    font-size: 0, 4rem;
    margin-bottom: 0rem;
    color: #fff;
}

.copo {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    box-shadow: inset 0 -1px 1px rgb(114, 114, 114);
    top: -10px;
    animation: nieve linear infinite;
}

@keyframes nieve {
    0% {
        top: -10px;
    }
    100% {
        top: calc(100vh + 50px);
    }
}

#Layer_1 {
    z-index: 100px;
}

.btn-evento {
    z-index: 11;
}

.content {
    z-index: 11;
}