.graficos {
    position: relative;
    display: grid;
    padding-top: 0rem;
    grid-template-columns: 1fr 100%;
   
}

/* @media screen and (min-width: 1170px) {
    .graficos {
        position: relative;
        display: grid;
        padding-top: 0rem;
        grid-template-columns: 1fr 100%;
       
    }
} */

.absolute{
    position: absolute;
    /* display: none; */
}

.graficos-leydis{
   width: 100%;
   grid-column-start: 2;
   /* filter: drop-shadow(1px 20px 100px rgb(255, 255, 255));     */
   filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}

@media screen and (min-width: 1024px) {
    .graficos-leydis{
        width: 100%;
        grid-column-start: 2;
        /* filter: drop-shadow(1px 20px 100px rgb(255, 255, 255));     */
        filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
     }
}

.fondo {

}

.fondo{
    background: linear-gradient(278deg, rgb(43 91 156) 0%, rgb(4 36 110) 56%, rgb(17 54 107) 100%);

}

@media screen and (min-width: 1024px){
    .fondo {
        background: radial-gradient(87% 275% at 6% 15%, #102054 0, #11366b 23%, #114c80 40%, #1d5a9e 58%, #1e639c 66%, #246dbf 75%, #1c65a9 83%, #2458a0 93%, #1a4a98 100%);
    
   
    }
}

.graficos-redes {
  


    position: absolute;
    width: 10%;
    grid-column-start: 1;
    filter: drop-shadow(-1px 1px 8px rgb(255, 255, 255));
    top: 2%;
    right: 157%;
    animation: float 7s linear infinite;
}



.graficos-youtube {
    position: absolute;
    width: 9%;
    grid-column-start: 1;
    filter: drop-shadow(-1px 1px 8px rgb(252, 1, 1));
    top: 8%;
    right: 77%;
    /* animation: giro1 40s linear infinite; */
    animation: palpitar 5s linear infinite;
}
.graficos-facebook {
    position: absolute;
    width: 9%;
    grid-column-start: 1;
    filter: drop-shadow(-1px 1px 8px rgb(0, 17, 255));
    top: 19%;
    right: 90%;
    /* animation: giro2 40s linear infinite; */
    animation: palpitar 2s linear infinite;
}
.graficos-instagram {
    position: absolute;
    width: 9%;
    grid-column-start: 1;
    filter: drop-shadow(-1px 1px 8px rgb(255, 255, 255));
    top: 64%;
    right: 76%;
    /* animation: giro1 40s linear infinite; */
    animation: palpitar 2s linear infinite;
}
.graficos-tiktok {
    position: absolute;
    width: 9%;
    grid-column-start: 1;
    filter: drop-shadow(-1px 1px 8px rgb(0, 0, 0));
    top: 8%;
    right: 59%;
    /* animation: giro2 40s linear infinite; */
    animation: palpitar 2s linear infinite;
}

.graficos-twiter {
    position: absolute;
    width: 9%;
    grid-column-start: 1;
    filter: drop-shadow(-1px 1px 8px rgb(3, 217, 255));
    top: 41%;
    right: 45%;
    /* animation: giro1 40s linear infinite; */
    animation: palpitar 2s linear infinite;
}

.graficos-whatsapp {
    position: absolute;
    width: 10%;
    grid-column-start: 1;
    filter: drop-shadow(-1px 1px 3px rgb(255, 255, 255));
    top: 12%;
    right: 45%;
    /* //palpitar de corazon  */
    animation: palpitar 2s linear infinite;

}



@keyframes palpitar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes giro1 {
   to{
         transform: rotate(1turn);
   }
}
@keyframes giro2 {
    to{
            transform: rotate(-1turn);
    }
}


@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}


.contenedor-video{
    position: relative;
    overflow: hidden ;
    padding-top: 56.25%;
    border: 3px solid #fff;
    border-radius: 5px;
}
.contenedor-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}




/*ESTILOS DE LAS REDES SOCIALES FLOTANTES EN LA PARTE PRINCIPAL*/

@media screen and (max-width: 1023px) {
    .container-redes-psg{
     display: none;
    }  
  }
  
  @media screen and (min-width: 1024px){
    .container-redes-psg{
    width:200px;
    left:0;
    position:fixed;
    top:25%;
    z-index: 99;
  }  
  }
  
  
  
  
  .icon-redes{
    top:50%;
    position:relative;
    margin-bottom:10px;
    }
  
  .icon-primary{
    display:inline-block;
    text-decoration:none;
    color:rgb(61, 61, 61);
    background-color:#ededed;
    border-radius:100%;
    position:relative;
    z-index:1;
    box-shadow:1px 0 1px rgba(0,0,0,.5);
    height:50px;
    width:50px;
    text-align:center;
    line-height:52px;
    }
  
  .container-description-psg {
    overflow:hidden;
    position:absolute;
    top:8px;
    left:25px;
  
  }
  
  .icon-description-facebook{
    width:120px;
    display:inline-block;
    text-decoration:none;
    color:#fff;
    background-color:#3b5998;
    opacity: 75%;
    height:35px;
    line-height:35px;
    padding-left:35px;
    border-radius:0 20px 20px 0;
    transform: translate3d(-110%, 0, 0);
    transition:transform 175ms ease;
  }
  .icon-description-instagram{
    width:120px;
    display:inline-block;
    text-decoration:none;
    color:#fff;
    background-color:#3b5998;
    opacity: 75%;
    height:35px;
    line-height:35px;
    padding-left:35px;
    border-radius:0 20px 20px 0;
    transform: translate3d(-110%, 0, 0);
    transition:transform 175ms ease;
  }
  .icon-description-youtube{
    width:120px;
    display:inline-block;
    text-decoration:none;
    color:#fff;
    background-color:#3b5998;
    opacity: 75%;
    height:35px;
    line-height:35px;
    padding-left:35px;
    border-radius:0 20px 20px 0;
    transform: translate3d(-110%, 0, 0);
    transition:transform 175ms ease;
  }
  
  .icon-description-whatsapp{
    width:120px;
    display:inline-block;
    text-decoration:none;
    color:#fff;
    background-color:#3b5998;
    opacity: 75%;
    height:35px;
    line-height:35px;
    padding-left:35px;
    border-radius:0 20px 20px 0;
    transform: translate3d(-110%, 0, 0);
    transition:transform 175ms ease;
  }
  
  .icon-primary:hover  ~ .container-description-psg .icon-description-facebook{
       transform: translate(0, 0);
    
  }
  
  .icon-primary:hover  ~ .container-description-psg .icon-description-instagram{
       transform: translate(0, 0);
    
  }
  
  .icon-primary:hover  ~ .container-description-psg .icon-description-youtube{
       transform: translate(0, 0);
    
  }
  
  .icon-primary:hover  ~ .container-description-psg .icon-description-whatsapp{
       transform: translate(0, 0);
    
  }
  
  
  /*colores para redes sociales*/
  /* .color-instagram{
    background-color:#d7d7d7;
    
  }
  
  .color-youtube{
    background-color:#d7d7d7;
  }
  
  .color-whatsapp {
      background-color: #d7d7d7;
  } */
  /* redes sociales Fin*/
  
  /*FIN DE ESTILOS DE REDES SOCIALES FLOTANTES*/




  